<form [formGroup]="addressForm">
  <div formArrayName="addresses">
    <div *ngFor="let addressControl of getAddresses().controls; let arrayIndex = index" [formGroupName]="arrayIndex">
      
      <ion-item *ngIf="arrayIndex > 0">
        <ion-checkbox (ionChange)="copyAddress(arrayIndex)" slot="start"></ion-checkbox>
        <ion-label>Same as Above</ion-label>
      </ion-item>

      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ addressControl.get('label')?.value }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ng-container *ngFor="let addressField of addressFields">
            <ion-item  class="ion-touched">
              <ion-label position="floating">
                {{ addressField.label }}
              </ion-label>
              
              <ng-container [ngSwitch]="addressField.type">
                <!-- Select input for state -->
                <ion-select *ngSwitchCase="'select'"
                  [formControlName]="addressField.id">
                  <ion-select-option *ngFor="let option of addressField.options" [value]="option">
                    {{option}}
                  </ion-select-option>
                </ion-select>

                <!-- Default input for other fields -->
                <ion-input *ngSwitchDefault
                  [formControlName]="addressField.id"
                  [type]="addressField.type"
                  [attr.maxlength]="addressField.maxLength"
                  (keypress)="addressField.id === 'pinCode' ? restrictPinCodeInput($event) : true">
                </ion-input>
              </ng-container>
            </ion-item>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</form>