<form [formGroup]="addressForm">
  <div formArrayName="addresses">
    <div class="segment-container">
      <ion-segment [value]="selectedSegment" color="danger"  (ionChange)="segmentChanged($event)" scrollable="true">
        <ion-segment-button *ngFor="let addressType of addressTypes" [value]="addressType.id">
          <ion-label>{{ addressType.label }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngFor="let addressControl of getAddresses().controls; let arrayIndex = index" 
         [formGroupName]="arrayIndex" 
         [hidden]="addressControl.get('type')?.value !== selectedSegment">
      
      <ion-item *ngIf="arrayIndex > 0" lines="none" class="copy-address-item">
        <ion-checkbox (ionChange)="copyAddress(arrayIndex)" color="danger" slot="start"></ion-checkbox>
        <ion-label>Same as Before</ion-label>
      </ion-item>

      <ion-card>
        <ion-card-content>
          <ng-container *ngFor="let addressField of addressFields">
            <ion-item  class="ion-touched">
              <ion-label position="floating">
                {{ addressField.label }}
                <span *ngIf="addressField.required" class="required-marker">*</span>
              </ion-label>
              
              <ng-container [ngSwitch]="addressField.type">
                <ion-select *ngSwitchCase="'select'"
                  [formControlName]="addressField.id">
                  <ion-select-option *ngFor="let option of addressField.options" [value]="option">
                    {{option}}
                  </ion-select-option>
                </ion-select>
                <ion-input *ngSwitchDefault
                  [formControlName]="addressField.id"
                  [type]="addressField.type"
                  [attr.maxLength]="addressField.maxLength"
                  (keypress)="addressField.id === 'pinCode' ? restrictPinCodeInput($event) : true">
                </ion-input>
              </ng-container>
            </ion-item>
            <ion-text color="danger" *ngIf="getAddressGroup(arrayIndex).get(addressField.id)?.invalid && getAddressGroup(arrayIndex).get(addressField.id)?.touched">
              <p *ngIf="getAddressGroup(arrayIndex).get(addressField.id)?.errors?.['required']">
                {{ addressField.label }} is required.
              </p>
              <p *ngIf="getAddressGroup(arrayIndex).get(addressField.id)?.errors?.['maxlength']">
                Max length exceeded ({{ addressField.maxLength }} characters).
              </p>
              <p *ngIf="getAddressGroup(arrayIndex).get(addressField.id)?.errors?.['pattern']">
                Invalid format for {{ addressField.label }}.
              </p>
            </ion-text>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</form>