.segment-container {
  margin: 16px 0;
  padding: 0 8px;
}

.copy-address-item {
  margin: 12px 8px;
  --background: transparent;
  --border-color: transparent;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--ion-color-step-50);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--ion-color-step-150);
  border-radius: 3px;
  
  &:hover {
    background: var(--ion-color-step-200);
  }
}

