<form [formGroup]="addressForm">
  <div formArrayName="addresses">
    <div class="segment-container">
      <ion-segment [value]="selectedSegment" [color]="getSegmentColor()"  (ionChange)="segmentChanged($event)" scrollable="true">
        <ion-segment-button *ngFor="let addressType of addressTypes" [value]="addressType.id">
          <ion-label>{{ addressType.label }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngFor="let addressControl of getAddresses().controls; let arrayIndex = index"
         [formGroupName]="arrayIndex"
         [hidden]="addressControl.get('type')?.value !== selectedSegment">
         <ion-grid>
         <ion-row>
          <ion-col [size]="showCopyFromCurrent(arrayIndex) && showCopyFromPermanent(arrayIndex) ? '6' : '12'">
            <ion-item *ngIf="showCopyFromCurrent(arrayIndex)" lines="none" class="copy-address-item">
              <ion-checkbox
                (ionChange)="copyAddress(arrayIndex, $event, 'current')"
                [checked]="copyFromCurrentAddress[arrayIndex]"
                [disabled]="copyFromPermanentAddress[arrayIndex]"
                color="danger"
                slot="start">
              </ion-checkbox>
              <ion-label>Same as Current Address</ion-label>
            </ion-item>
          </ion-col>
        
          <ion-col *ngIf="showCopyFromPermanent(arrayIndex)" [size]="showCopyFromCurrent(arrayIndex) ? '6' : '12'">
            <ion-item lines="none" class="copy-address-item">
              <ion-checkbox
                (ionChange)="copyAddress(arrayIndex, $event, 'permanent')"
                [checked]="copyFromPermanentAddress[arrayIndex]"
                [disabled]="copyFromCurrentAddress[arrayIndex]"
                color="danger"
                slot="start">
              </ion-checkbox>
              <ion-label>Same as Permanent Address</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
        

      <ion-card [class.read-only]="isReadOnly(arrayIndex)" [ngStyle]="getIonCardStyles()">
        <ion-card-content>
          <ng-container *ngFor="let addressField of addressFields">
            <ion-item  class="ion-touched">
              <ion-label position="floating" [color]="getLabelColor()">
                {{ addressField.label }}
                <span *ngIf="addressField.required" class="required-marker">*</span>
              </ion-label>

              <ng-container [ngSwitch]="addressField.type">
                <ng-container *ngSwitchCase="'select'">
                  <ng-container *ngIf="addressField.options && addressField.options.length < 4; else selectDropdown">
                    <ion-radio-group [formControlName]="addressField.id" class="radio-group">
                      <ion-item *ngFor="let option of addressField.options" lines="none" class="radio-item">
                        <ion-radio slot="start" [value]="option"></ion-radio>
                        <ion-label class="ion-padding-start">{{ option }}</ion-label>
                      </ion-item>
                    </ion-radio-group>
                  </ng-container>
                  <ng-template #selectDropdown>
                    <ion-select [formControlName]="addressField.id" class="select-field">
                      <ion-select-option *ngFor="let option of addressField.options" [value]="option">
                        {{option}}
                      </ion-select-option>
                    </ion-select>
                  </ng-template>
                </ng-container>
                <ion-input *ngSwitchDefault
                  [formControlName]="addressField.id"
                  [type]="addressField.type"
                  [attr.maxLength]="addressField.maxLength"
                  (keypress)="addressField.id === 'pinCode' ? restrictPinCodeInput($event) : true">
                </ion-input>
              </ng-container>
            </ion-item>
            <ion-text color="danger"
              *ngIf="getAddressGroup(arrayIndex).get(addressField.id)?.invalid">
              <p>{{ getErrorMessage(getAddressGroup(arrayIndex), addressField) }}</p>
            </ion-text>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</form>