
<ion-content class="content-center">
  <!-- <div class="success-container">
    <ion-icon name="logo-twitter" class="success-icon"></ion-icon>
    <h2 class="success-text">Enter Form Details !</h2>
    <ion-button   shape="round" color="danger" (click)="goHome()" ><ion-icon name="log-in-outline" class="sign-icon"></ion-icon>sign up</ion-button>
  </div>
  <div class="success-container">
    <ion-icon name="logo-mastodon" class="success-icon"></ion-icon>
    <h2 class="success-text"> address component !</h2>
    <ion-button  color="primary" (click)="goHome()" ><ion-icon name="umbrella-outline" class="sign-icon"></ion-icon>sign up</ion-button>
  </div> -->
  <div >
      <sysmoui-address [addressTypes]="addressTypes" [styles]="{'color':'red'}" > </sysmoui-address>
  </div>
  <div>
    <sysmoui-gender></sysmoui-gender>
  </div>
  <div>
    <sysmoui-dob></sysmoui-dob>
  </div>
</ion-content>
