
// .header-title {
//   text-align: center;
//   color: rgb(255, 255, 255);
// }
.form-title{
  text-align: center;
  color: rgb(240, 90, 90);
}
::ng-deep .custom-alert .alert-wrapper {
  --background: white; 
  --color: black; 
  --ion-text-color: black; 
  --ion-color-primary: black; 
}

::ng-deep ion-header {
  --background: red !important;
}

::ng-deep ion-toolbar {
  --background: red !important;
}
.header-background {
  --background: red !important; 
  --ion-background-color: red !important;
}


ion-icon{
  font-size: 2rem;
}
.header-toolbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  top: 15px;
}
