<ion-header class="headerBackground">
  <ion-toolbar class="headerToolbar">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closePage()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="headerTitle">User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentBackground">
  <div class="formContainer">
    <h2 class="formTitle">Enter Your Details</h2>

    <form [formGroup]="mainForm" (ngSubmit)="submitForm()">
      <ion-list class="formList">
        <ion-item class="formItem">
          <ion-label position="floating">First Name *</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>

        <ion-item class="formItem">
          <ion-label position="floating">Last Name *</ion-label>
          <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>

        <ion-item class="formItem">
          <ion-label position="floating">Age *</ion-label>
          <ion-input formControlName="age" type="number" min="0"></ion-input>
        </ion-item>

        <ion-item class="formItem">
          <ion-label position="floating">Gender *</ion-label>
          <ion-select formControlName="gender">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="addressSection">
          <sysmo-address
            [addressTypes]="addressTypes"
            [addressFields]="addressFields"
            [errorMessages]="errorMessages"
            (addressChange)="handleAddressChange($event)"
            [showCurrentAddressCheckbox]="showCurrentAddressCheckbox">
          </sysmo-address>
        </div>
      </ion-list>

      <div class="submitButtonContainer">
        <ion-button expand="block" shape="round" type="submit" color="danger">
          Submit Form
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>